:root {
  /* Colors */
  --bg0: #4a4a4a; /* Light bg */
  --bg1: #6e6e6e; /* Main bg */
  --bg2: #8c8c8c; /* Dark bg */
  --fg0: #fff3b0; /* Main fg */
  --fg1: #f2e6a0; /* Darker fg */

  --red: #c95c4f;
  --orange: #d67c43;
  --yellow: #c4933f;
  --green: #8f964d;
  --aqua: #6e8c5f;
  --blue: #668c7f;
  --purple: #b96a7f;

  --red: #ea6962;
  --orange: #e78a4e;
  --yellow: #d8a657;
  --green: #a9b665;
  --aqua: #89b482;
  --blue: #7daea3;
  --purple: #d3869b;

  /* -- Main page -- */

  /* Background */
  /*
  --color-canvas-default: var(--bg1) !important;
  --color-page-header-bg: var(--bg2) !important;
  --color-canvas-subtle: var(--bg1) !important;
  --color-header-bg: var(--bg2) !important;
  --color-neutral-muted: var(--bg0) !important;
  --color-canvas-inset: var(--bg1) !important;
  --color-btn-primary-hover-bg: var(--bg2) !important;
  --color-btn-primary-bg: var(--bg1) !important;
  --color-btn-primary-focus-bg: var(--bg2) !important;
  --color-attention-emphasis: var(--yellow) !important;
  --color-success-emphasis: var(--green) !important;
  --color-accent-subtle: var(--bg0) !important;
  --color-codemirror-bg: var(--bg1) !important;
  --color-codemirror-lines-bg: var(--bg0) !important;
  --color-codemirror-gutters-bg: var(--bg2) !important;
  --color-accent-emphasis: var(--blue) !important;
  --color-canvas-overlay: var(--bg2) !important;
  --color-btn-bg: var(--bg1) !important;
  --color-btn-hover-bg: var(--bg2) !important;
  --color-open-emphasis: var(--blue) !important;
  --color-danger-emphasis: var(--red) !important;
  --color-diffstat-addition-bg: var(--green) !important;
  --color-btn-danger-hover-bg: var(--red) !important;
  --color-attention-muted: var(--bg0) !important;
  */

  /* Foreground */
  /*
  --color-success-fg: var(--green) !important;
  --color-codemirror-text: var(--fg0) !important;
  --color-fg-default: var(--fg0) !important;
  --color-accent-fg: var(--blue) !important;
  --color-fg-muted: var(--fg1) !important;
  --color-open-fg: var(--blue) !important;
  --color-header-logo: var(--fg0) !important;
  --color-header-text: var(--fg0) !important;
  --color-codemirror-linenumber-text: var(--fg1) !important;
  --color-btn-danger-text: var(--red) !important;
  */

  /* Other */
  /*
  --color-primer-border-active: var(--bg2) !important;
  --color-btn-danger-hover-border: var(--red) !important;
  --color-danger-muted: var(--bg0) !important;
  */

  /* Syntax */
  --color-prettylights-syntax-constant: var(--purple) !important;
  --color-prettylights-syntax-entity-tag: var(--blue) !important;
  --color-prettylights-syntax-entity: var(--blue) !important;
  --color-prettylights-syntax-keyword: var(--red) !important;
  --color-prettylights-syntax-string: var(--green) !important;
  --color-prettylights-syntax-comment: var(--fg1) !important;
  --color-prettylights-syntax-support: var(--aqua) !important;
  --color-prettylights-syntax-variable: var(--blue) !important;
  --color-codemirror-syntax-constant: var(--purple) !important;
  --color-codemirror-syntax-variable: var(--blue) !important;
  --color-codemirror-syntax-keyword: var(--red) !important;
  --color-codemirror-syntax-comment: var(--fg1) !important;
  --color-codemirror-syntax-string: var(--green) !important;
  --color-codemirror-syntax-support: var(--aqua) !important;
  --color-codemirror-syntax-variable: var(--blue) !important;
}
